.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin: 1rem;
}

.green.active {
    background-color: rgb(57, 126, 57);
}

.blue.active {
    background-color: rgb(84, 84, 250);
}

.red.active {
    background-color: rgb(253, 92, 92);
}

.yellow.active {
    background-color: rgb(250, 250, 101);
}
