.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: grid;
    justify-items: center;
    align-items: center;
}

.gameover-box {
    position: fixed;
    top: 25%;
    left: 25%;
    height: 200px;
    width: 50%;
    background: white;
    display: grid;
    justify-content: center;
    align-items: center;
    color: black;
}

.gameover-box button {
    background: lightgrey;
}